# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/

# fastlane specific
**/fastlane/report.xml
**/fastlane/.env.*

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# review information
**/fastlane/metadata/**/review_information
**/fastlane/metadata/**/copyright.txt

# scan temporary files
**/fastlane/test_output
